
html {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
	margin: 0;
}

body{
	width: 100%;
	max-width: 600px;
	padding: 5px 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	float: left;
	height: 60px;
	max-height: 600px;
	border: 1px solid black;
	box-shadow: 5px 10px 8px #888888;
	margin: 0;
}

header img{max-height: 60px; float: left;}

#ticketInfo p{
	padding-bottom: 20px;
	text-indent: 20px;
}
.shadow{
	/*read shadow style specs as "horizontal vertical blur color"*/
	text-shadow: 2px 2px 2px #F6A41E;
}

#ticketPrices img{
	float: right;
	width: 200px;
	margin-left: 30px;
	}

#disclaimer p {
	font-size: 16px;
}

footer {
	border-top: 1px solid #000;
	padding-top: 10px;
}

.purple{color: purple;}
a:link {color: red;}
a:visited{color:purple;}
a:active{color: white;}
a:hover{color: gold;}